{% extends 'base.html' %}
{% block content %}

    <!-- <section class="abou">
      <div class="conten">
        <h3>Discover Your Next Discovery</h3>
        <p>emphasizes the journey of finding new and</p>
        <p>relevant research</p>
      </div>

      <div class="image-containe">
        <img src="/{{ MEDIA_URL }}abb.jpg" id="image-slider" alt="Image Slider" />
      </div>
    </section> -->
    <div class="input-box">
      <form method="post" action="{% url 'recommendations' %}" id="search_form">
            {% csrf_token %}
            <i class="uil uil-search"></i>
            <input type="text" name="search_text" placeholder="Search here..." />
            <button type="submit" class="button">Search</button>
        </form>
    </div>

     <div id="results_container"></div>
        <!-- Paper details will be dynamically inserted here -->
    </div>  

    <script>
    
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('search_form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission

        var search_text = document.querySelector('input[name="search_text"]').value;

        // Send a POST request using AJAX
        $.ajax({
            type: 'POST',
            url: '/recommendations/',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token in the request headers
            },
            data: {
                'search_text': search_text
            },
            success: function(data) {
                // Clear previous results
                $('#results_container').empty();

                console.log(data);

                // Insert new results
                // Assuming 'data' contains the JSON data you provided
data.forEach(function(paper) {
    paper.title.forEach(function(title, index) {
        var paperHtml = `
            <div class="paper-item">
                <h3>${title}</h3>
                <p><strong>Year:</strong> ${paper.year[index]}</p>
                <p><strong>Author:</strong> ${paper.author[index]}</p>
                <p><strong>Publication:</strong> ${paper.publication[index]}</p>
                <p><strong>URL:</strong> <a href="${paper.url[index]}" target="_blank">${paper.url[index]}</a></p>
            </div>
        `;
        $('#results_container').append(paperHtml);
    });
});

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });
});
</script>



{% endblock content%}
